<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  {{ tracking|safe }}
  <!-- flickity -->
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
	<style>
	.carousel-cell {
		height: 100px;
		width: 100px;
		padding: 3px;	
		background: #F2F2F2;
		border: 0.5px solid #A9A9A9;
	}
	/* smaller, dark, rounded square */
	.flickity-button {
	  background: #333;
	}
	.flickity-button:hover {
	  background: #F90;
	}

	.flickity-prev-next-button {
	  width: 30px;
	  height: 30px;
	  border-radius: 5px;
	}
	/* icon color */
	.flickity-button-icon {
	  fill: white;
	}
	/* position outside */
	.flickity-prev-next-button.previous {
	  left: -40px;
	}
	.flickity-prev-next-button.next {
	  right: -40px;
	}
	.carousel-cell.is-selected {
	  background: #D2D2D2;
	}
	</style>
</head>
<body>
	<ul class="nav nav-tabs nav-justified bg-danger text-light">
		<li class="nav-item">
				<a class="nav-link text-light" href="/"><span class="iconify" data-icon="emojione-monotone:ice-hockey" data-inline="false" style="color: #FFFFFF;"></span></a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-light" href="/scores">Scores</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-light" href="/standings">Standings</a>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle text-light" data-toggle="dropdown" href="#">Schedule</a>
			<div class="dropdown-menu bg-light">
			  <a class="dropdown-item" href="/schedule">Full Schedule</a>
			{% for key, value in all_teams.items() %}
			  <a class="dropdown-item" href="/schedule/{{ value }}">{{ key }}</a>
			{% endfor %}
			</div>
		</li>
	</ul>
<body>
<!-- BEGIN ACTUAL DATA -->

<!-- scores carousel -->
	<div class="main-carousel" data-flickity='{ "cellAlign": "center", "contain": true, "wrapAround": true, "pageDots": false, "initialIndex": ".is-initial-select"}' style="width: 90%;left: 5%; right: 5%;">
    {% for game in games %}
		{% if game.gamePk is number and game.gamePk == last_game.gamePk %}
		<div class="carousel-cell is-initial-select">
        <a href="/game/{{ game.gamePk }}">
        {{ game.away_team_abbr }}: {{ game.away_team_score }}<br /> {{ game.home_team_abbr }}: {{ game.home_team_score }}
		</a><br /><strong>{{ game.gameState }}</strong> {{ game.gameDate }}
		</div>
		{% elif game.gamePk is number %}
		<div class="carousel-cell">
        <a href="/game/{{ game.gamePk }}">
        {{ game.away_team_abbr }}: {{ game.away_team_score }}<br /> {{ game.home_team_abbr }}: {{ game.home_team_score }}
		</a><br /><strong>{{ game.gameState }}</strong><br /> {{ game.gameDate }}
		</div>
		{% else %}
			&nbsp;
		{% endif %}
    {% endfor %}
	</div>
<!-- end scores carousel -->
	{% if playoff_round is defined %}
	<h1>Playoffs - Round {{ playoff_round }}</h1>
	{% endif %}
    <table class="table table-striped" style="font-size: 26;">
	{% for m in matches %}
	<tr>
	<td>{{ m.matchup }}</td>
	<td>{{ m.status }}</td>
	</tr>
	{% endfor %}
</table>
	{% if headlines is defined %}
	<h3>News</h3>
	<ul>
	{% for item in headlines %}
	<li><a href="{{ item.link }}" target="_new">{{ item.headline }}</a></li>
	{% endfor %}
	</ul>
	{% endif %}
	<!-- END ACTUAL DATA -->
    <h6 style="font-size: 9pt;">&nbsp;&nbsp;version: {{ version }}</h6>
</body>
</html>
