<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
  {{ tracking|safe }}
</head>
<body>
	<ul class="nav nav-tabs nav-justified bg-danger text-light">
		<li class="nav-item">
				<a class="nav-link text-light" href="/"><span class="iconify" data-icon="emojione-monotone:ice-hockey" data-inline="false" style="color: #FFFFFF;"></span></a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-light" href="/scores">Scores</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-light" href="/standings">Standings</a>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle text-light" data-toggle="dropdown" href="#">Schedule</a>
			<div class="dropdown-menu bg-light">
			  <a class="dropdown-item" href="/schedule">Full Schedule</a>
			{% for key, value in all_teams.items() %}
			  <a class="dropdown-item" href="/schedule/{{ value }}">{{ key }}</a>
			{% endfor %}
			</div>
		</li>
	</ul>
<body>
    <!-- BEGIN ACTUAL DATA -->
<script>
$(document).ready( function () {
    $('#last_five').DataTable( {
		paging: false,
        sDom: 'lrtip'
	});
} );
</script>
<script>
$(document).ready( function () {
    $('#season_table').DataTable( {
		paging: false,
        sDom: 'lrtip'
	});
} );
</script>
<script>
$(document).ready( function () {
    $('#career_table').DataTable( {
		paging: false,
        sDom: 'lrtip'
	});
} );
</script>
    <h1>Player {{ player.fullName }} #{{ player.primaryNumber }}</h1>
    <h4>{{ player.primaryPosition.abbreviation }} {{ player.height }} {{ player.weight }} lb Age: {{ player.currentAge }}</h4>
    Born: {{ player.birthDate }}<br /> 
    Birthplace: {{ player.birthCity }}, {{ player.birthCountry }}<br />
    Shoots: {{ player.shootsCatches }}<br />
    Draft: {{ draft.draftYear }} Round - {{ draft.draftRound }} Overall - {{ draft.draftOverall }}<br />
    <h3>Last Five Games</h3>
    <table id="last_five" class="display">
        <thead>
            <tr>
                <td>Opponent</td>
                <td>Date</td>
                <td>Goals</td>
                <td>Assists</td>
                <td>Points</td>
                <td>Plus/Minus</td>
                <td>Penalty Minutes</td>
                <td>PowerPlay Goals</td>
                <td>PowerPlay Points</td>
                <td>ShortHanded Goals</td>
                <td>ShortHanded Points</td>
                <td>GameWinning Goals</td>
                <td>OverTime Goals</td>
                <td>Shots</td>
                <td>Shooting Percentage</td>
            </tr>
        </thead>
        <tbody>
            {% for l5_game in last_five_stats %}
            <tr>
                <td> {{ l5_game.opponent }}</td>
                <td> {{ l5_game.date }}</td>
                <td> {{ l5_game.goals }}</td>
                <td> {{ l5_game.assists }}</td>
                <td> {{ l5_game.points }}</td>
                <td> {{ l5_game.plusMinus }}</td>
                <td> {{ l5_game.pim }}</td>
                <td> {{ l5_game.powerPlayGoals }}</td>
                <td> {{ l5_game.powerPlayPoints }}</td>
                <td> {{ l5_game.shortHandedGoals }}</td>
                <td> {{ l5_game.shortHandedPoints }}</td>
                <td> {{ l5_game.gameWinningGoals }}</td>
                <td> {{ l5_game.overTimeGoals }}</td>
                <td> {{ l5_game.shots }}</td>
                <td> {{ l5_game.shotPct }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3>Season to Date</h3>
    <table id="season_table" class="display">
        <thead>
            <tr>
                <td>Games Played</td>
                <td>Goals</td>
                <td>Assists</td>
                <td>Points</td>
                <td>Plus/Minus</td>
                <td>Penalty Minutes</td>
                <td>PowerPlay Goals</td>
                <td>PowerPlay Points</td>
                <td>ShortHanded Goals</td>
                <td>ShortHanded Points</td>
                <td>GameWinning Goals</td>
                <td>OverTime Goals</td>
                <td>Shots</td>
                <td>Shooting Percentage</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> {{ season_stats.games }}</td>
                <td> {{ season_stats.goals }}</td>
                <td> {{ season_stats.assists }}</td>
                <td> {{ season_stats.points }}</td>
                <td> {{ season_stats.plusMinus }}</td>
                <td> {{ season_stats.pim }}</td>
                <td> {{ season_stats.powerPlayGoals }}</td>
                <td> {{ season_stats.powerPlayPoints }}</td>
                <td> {{ season_stats.shortHandedGoals }}</td>
                <td> {{ season_stats.shortHandedPoints }}</td>
                <td> {{ season_stats.gameWinningGoals }}</td>
                <td> {{ season_stats.overTimeGoals }}</td>
                <td> {{ season_stats.shots }}</td>
                <td> {{ season_stats.shotPct }}</td>
            </tr>
        </tbody>
    </table>
    <h3>Career</h3> 
    <table id="career_table" class="display">
        <thead>
            <tr>
                <td>Games Played</td>
                <td>Goals</td>
                <td>Assists</td>
                <td>Points</td>
                <td>Plus/Minus</td>
                <td>Penalty Minutes</td>
                <td>PowerPlay Goals</td>
                <td>PowerPlay Points</td>
                <td>ShortHanded Goals</td>
                <td>ShortHanded Points</td>
                <td>GameWinning Goals</td>
                <td>OverTime Goals</td>
                <td>Shots</td>
                <td>Shooting Percentage</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> {{ career_stats.games }}</td>
                <td> {{ career_stats.goals }}</td>
                <td> {{ career_stats.assists }}</td>
                <td> {{ career_stats.points }}</td>
                <td> {{ career_stats.plusMinus }}</td>
                <td> {{ career_stats.pim }}</td>
                <td> {{ career_stats.powerPlayGoals }}</td>
                <td> {{ career_stats.powerPlayPoints }}</td>
                <td> {{ career_stats.shortHandedGoals }}</td>
                <td> {{ career_stats.shortHandedPoints }}</td>
                <td> {{ career_stats.gameWinningGoals }}</td>
                <td> {{ career_stats.overTimeGoals }}</td>
                <td> {{ career_stats.shots }}</td>
                <td> {{ career_stats.shotPct }}</td>
            </tr>
        </tbody>
    </table>
	<!-- END ACTUAL DATA -->
    <h6 style="font-size: 9pt;">&nbsp;&nbsp;version: {{ version }}</h6>
</body>
</html>
