<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  {{ tracking|safe }}
</head>
<body>
	<ul class="nav nav-tabs nav-justified bg-danger text-light">
		<li class="nav-item">
				<a class="nav-link text-light" href="/"><span class="iconify" data-icon="emojione-monotone:ice-hockey" data-inline="false" style="color: #FFFFFF;"></span></a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-light" href="/scores">Scores</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-light" href="/standings">Standings</a>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle text-light" data-toggle="dropdown" href="#">Schedule</a>
			<div class="dropdown-menu bg-light">
			  <a class="dropdown-item" href="/schedule">Full Schedule</a>
			{% for key, value in all_teams.items() %}
			  <a class="dropdown-item" href="/schedule/{{ value }}">{{ key }}</a>
			{% endfor %}
			</div>
		</li>
	</ul>
<body>
<!-- BEGIN DATA -->
{% if msg is defined %}<span style="color: black;"><h3>{{ msg }}</h3></span>{% endif %}
<br /><br /><br />
{% if scores is defined %} <br /><br />
<div class="card-deck">
{% for item in scores %}
	<div class="card">
	<a href="/game/{{ item.game_id }}">
			<div class="card-body">
			{{ item.away_team }}
			{{ item.away_score }}
			{{ item.home_team }}
	{{ item.home_score }}
			</div>
			<div class="card-footer">
	{{ item.game_state }}
	</a>
	</div>
	</div>
{% endfor %}
</div>
{% endif %}
<!-- END DATA -->
<h6 style="font-size: 9pt;">&nbsp;&nbsp;version: {{ version }}</h6>
</body>
</html>
